RUNPOD_API_KEY=
RUNPOD_WORKER_TEMPLATE_ID_CU128=
RUNPOD_WORKER_TEMPLATE_ID_CU130=
RUNPOD_WORKER_TEMPLATE_ID_BETA_CU128=
RUNPOD_WORKER_TEMPLATE_ID_BETA_CU130=
VAST_API_KEY=
VAST_WORKER_TEMPLATE_ID_CU128=
VAST_WORKER_TEMPLATE_ID_CU130=
VAST_WORKER_TEMPLATE_ID_BETA_CU128=
VAST_WORKER_TEMPLATE_ID_BETA_CU130=
